body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#modal {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-right: 5em;
}

.container {
  margin-top: 3em;
  margin-bottom: 3em;
}

.navigation-button {
  margin-left: 0.5em;
}

.img-resize {
  height: 186.33px;
}

.navbar {
  background-color: #6f99a9;
}

.row-grid {
  margin-top: 3em;
}

all-navigation-button {
  margin-top: 20em;
}

h1,
h2,
h3,
.start-button {
  font-family: 'Baloo Chettan', cursive;
}

.start-button {
  height: 5em;
  width: 15em;
}

.image-overview {
  width: 30em;
}

.start-button {
  margin-top: 2em;
}
