body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.card-title {
  color: #657c85;
  text-decoration-color: black;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#modal {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-right: 5em;
}

.container {
  margin-top: 3em;
  margin-bottom: 3em;
}

.navigation-button {
  margin-left: 0.5em;
}

.img-resize {
  height: 186.33px;
  object-fit: cover;
}

/* .navbar {
  background-color: #6f99a9;
} */

.row-grid {
  margin-top: 3em;
}

all-navigation-button {
  margin-top: 20em;
}

/* adjustments on navbar */
a.navbar-brand {
  padding: 1px;
  margin-left: 5rem;
}

.ml-auto,
.mx-auto {
  margin-right: 5rem;
}
/* adjustments on navbar */

h1,
h2,
h3,
h4,
.start-button {
  font-family: 'Baloo Chettan', cursive;
}

.recipe-time {
  padding-left: 1.5em;
}

.back-button {
  margin-bottom: 1.5em;
}

.start-button {
  height: 5em;
  width: 15em;
  margin-top: 2em;
}

.submit-button {
  height: 4em;
  width: 10em;
  margin-top: 2em;
}

.image-overview {
  width: 30em;
}

.microphone-on {
  color: green;
}

.microphone-off {
  color: orange;
}

.microphone {
  text-align: center;
}

/* .recipeBar {
  background: rgba(163, 163, 163, 0.3)
  padding-box;
  padding: 10%;
} */

#close-help {
  text-align: right;
}

#help-header {
  margin-top: 2.5em;
  margin-bottom: 1em;
}
