body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 3em;
  margin-bottom: 3em;
}

.navigation-button {
  margin-left: 0.5em;
}

.img-resize {
  height: 186.33px;
  object-fit: cover;
}

.card-body {
  height: 88px;
}

.home-page {
  padding-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
}

.recipe-card {
  margin-bottom: 1em;
}

/* .navbar {
  background-color: #6f99a9;
} */

.row-grid {
  margin-top: 3em;
}

.all-navigation-button {
  margin-top: 20em;
  margin-bottom: 1em;
  position: fixed;
  bottom: 0;
}

/* adjustments on navbar */
a.navbar-brand {
  padding: 1px;
  margin-left: 5rem;
}

.ml-auto,
.mx-auto {
  margin-right: 5rem;
}
/* adjustments on navbar */

h1,
h2,
h3,
h4,
.start-button,
.micro-text {
  font-family: 'Baloo Chettan', cursive;
}

.micro-text {
  font-size: 1.5em;
  padding-left: 0.5em;
}

.recipe-time {
  padding-left: 1.5em;
}

.back-button {
  margin-bottom: 1.5em;
}

.start-button {
  height: 5em;
  width: 15em;
  margin-top: 2em;
}

.submit-button {
  height: 4em;
  width: 10em;
  margin-top: 2em;
}

.image-overview {
  width: 30em;
  height: 30em;
  object-fit: cover;
  padding-bottom: 2em;
}

.microphone-on {
  color: green;
}

.microphone-off {
  color: orange;
}

.microphone {
  text-align: center;
}

/* .recipeBar {
  background: rgba(163, 163, 163, 0.3)
  padding-box;
  padding: 10%;
} */

.navbar {
  width: 100vw !important;
  -webkit-box-shadow: 0 8px 6px -6px rgb(199, 199, 199);
  -moz-box-shadow: 0 8px 6px -6px rgb(199, 199, 199);
  box-shadow: 0 16px 12px -12px rgb(199, 199, 199);
  padding: 0rem 0rem !important;
  /* background-image:  */
  border-color: black !important;
  border-width: 5px !important;
}

#close-help {
  text-align: right;
}

#help-header {
  margin-top: 2.5em;
  margin-bottom: 1em;
}
